PORT=3000
NODE_ENV=production
ADMIN_TOKEN=pinky_secret_admin_2026
IMAGEKIT_PUBLIC_KEY=public_nJ2l/4XG5Z2rgVvL+xKrV7bm76E=
IMAGEKIT_PRIVATE_KEY=private_11kmxslj7hVkNxTI/8611rSmSVg=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/joysfairycharms
